::selection {
    color: white;
    background: grey;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

* {
    padding: 0;
    margin: 0;
    transition: all .3s ease;
    outline: none;
    border: none;
    font-family: Oswald, sans-serif;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

.subheading {
    letter-spacing: 1.4px;
    font-size: 1.8rem;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0 20px;
}

.brand {
    font-family: Titillium Web, sans-serif;
    text-decoration: none;
    padding: 10px 0;
    color: crimson;
    font-size: 3rem;
}

nav {
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 0px 4px 22px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 22px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 22px 8px rgba(0, 0, 0, 0.5);
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    font-size: 1.3rem;
    padding: 10px 20px;
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.sticky .brand {
    font-size: 2rem;
    padding: 5px 0;
}

.sticky .link {
    padding: 5px 0 5px 20px;
}

@media screen and (min-width: 548px){
    #icon{
        display: none;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/rnr8D3FNUNY);
    background-size: cover;
}

.hero-txt {
    color: white;
    font-size: 2.5rem;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 20px 15px;
    margin: 20px 15px;
    border-radius: 10px;
    border: 2px #000 solid;
    -webkit-box-shadow: 0px 48px 82px -48px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 48px 82px -48px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 48px 82px -48px rgba(0, 0, 0, 0.75);
}

.fas {
    margin: 0px 0 20px;
}

.fa-viruses {
    color: red;
}

.prevention {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 45px;
}

.precautions {
    margin: 2.5px 0;
    font-size: 1.6rem;
}

.precautions::before {
    content: attr(data-icon);
    font-size: 1.2em;
}

.footer {
    display: flex;
    justify-content: space-around;
    background: #000;
    color: white;
    padding: 20px 0px;
}

.ref-ul {
    font-size: 1.3rem;
    text-align: left;
}

.ref-ul a {
    color: royalblue;
    text-decoration: none;
}

.end-ul {
    font-size: 1.3rem;
    text-align: right;
}

button {
    padding: 7px 20px;
    margin: 10px 0 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    background: lawngreen;
    border-radius: 5px;
    border: 2px lawngreen solid;
}

button:hover{
    background: #000;
    color: #fff;
}

.end-ul li:last-child {
    margin: 10px 0 0;
}

.port {
    color: crimson;
}

.port:hover {
    text-decoration: none;
}

@media screen and (max-width: 785px) {
    html{
        font-size: 15px;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 50%;
    }
    .prevention ul {
        width: 80%;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 548px) {
    html{
        font-size: 12px;
    }
    .card{
        font-size: 110%;
    }
    footer {
        flex-direction: column;
    }
    footer div {
        padding: 0 20px;
    }
    .f2 {
        text-align: right;
    }
    .fa-bars{
        display: inline;
        position: relative;
        top: 28px;
    }
    .sticky .brand{
        font-size: 3rem;
        padding: 10px 0;
    }
    .sticky .link{
        padding: 10px 0 10px;
    }
    .go {
        transform: translateY(-200vw);
        transition: all .3s ease;
    }
    .nav-ul {
        background-color: #212529;
        flex-direction: column;
        position: fixed;
        top: 20%;
        width: 80vw;
        left: 10%;
        text-align: center;
        padding: 15px 0;
        transition: all .3s ease;
        z-index: 10;
    }
    .nav-ul a{
        color: white;
    }
    i {
        cursor: pointer;
    }
}